.intro-wrapper
    max-height: 100vh
    overflow: hidden
.canvas-wrapper
    width: 100%
    position: relative
    height: 100vh
    @media only screen and (max-width: 767px)
        height: 550px
.navContainer
    position: absolute
    left: 10%
    bottom: 6%
    display: flex
    z-index: 2
    @media only screen and (max-width: 767px)
        bottom: 3%
.navLink
    display: block
    width: 5px
    height: 5px
    background-color: #fff
    transition: .5s
.navItem
    margin-right: 5px
    display: inline-block
    padding: 10px
    cursor: pointer
    &:last-of-type
        margin-right: 0
    &.active
        .navLink
            background-color: #38b138
    @media only screen and (min-width: 1200px)
        &:hover
            .navLink
                background-color: #38b138
                opacity: 0.7